body {
 width: 100vw;
 height: 100vh;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;

}

button {
  box-shadow: 0 3px 4px black;
}

.box {
  opacity: 0;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 0 1px 3px black;
  margin: auto;
  padding-top: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block {
  width: 95px;
  height: 60px;
  border: 1px solid black;
}
