footer
  .footer_conteiner
    .footer_logo.montserrat
      | DREAMSHARE
    .company.montserrat
      p  Company
      ul
        li About
        li Contact
        li Press
        li Blog
        li Terms and Privacy
        li Help
    .partners.montserrat Partners
    .designed.montserrat
      p DESIGNED BY
      img(src='img/Bitmap.png ' alt=' ' srcset=' ')
