header.header
  .logo.montserrat
    | DREAMSHARE
  .log_in_out.montserrat
    a(href=' ') Log in
    a(href=' ') Sign up
  .header_titel.montserrat
    h1 SHARE YOUR HOLIDAY DREAM
  .header_text.roboto
    p And find the perfect partner to fullfill it
  a.header_button.montserrat(href=' ') Find your holiday partner
