header {
    width: 100%;
    height: 75px;
    background-color: #e5e0e040;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    form {
        width: 800px;
        height: 250px;
        background-color: #e5e0e040;
        padding: 10px 10px;
        margin: auto;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .bw_title {
            display: flex;
            width: 100%;
            height: auto;
            font-size: 22px;
            font-weight: 600;
            .bw_list {
                ul {
                    display: flex;
                    list-style: none;
                    color: red;
                    margin-left: 0;
                    padding-left: 5px;
                    li {
                        margin-right: 7px;
                    }
                }
            }
        }
        .input_bad_word {
            display: flex;
            height: 40px;
            justify-content: space-between;
            .inp_bw {
                width: 69%;
            }
            button {
                width: 14%;
            }
        }
        .result {
            .inp_text {
                height: 95px;
                margin-top: 10px;
                align-items: 0px;
            }
            button {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}

.valid {
    border: 1px solid red;
}