body {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 80px;
    border: 0.5px solid #80808081;
    background-color: #e4e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20px;
    >:nth-child(1) {
        background-color: #ffa60065;
        .list-group-item {
            background-color: #ffa6002a;
        }
    }
    >:nth-child(2) {
        background-color: #0400ff65;
        .list-group-item {
            background-color: #0400ff2a;
        }
    }
    >:nth-child(3) {
        background-color: #19e79165;
        .list-group-item {
            background-color: #04422e2a;
        }
    }
    >:nth-child(4) {
        background-color: #e7981965;
        .list-group-item {
            background-color: #2f42042a;
        }
    }
    >:nth-child(5) {
        background-color: #e7192365;
        .list-group-item {
            background-color: #42040c2a;
        }
    }
    .modul {
        width: 22%;
        height: auto;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        margin-bottom: 80px;
        h3 {
            width: 100%;
            height: auto;
            border-bottom: 1px solid rgb(0, 0, 0);
            text-align: center;
        }
        .navbar-nav {
            color: #000000;
            .dropdown {
                height: auto;
                .nav-link {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis
                }
            }
        }
        .dropdown-menu {
            transition: all 0.5s;
            max-height: 0;
            display: block;
            overflow: hidden;
            opacity: 0;
            margin-top: -16px;
        }
        .dropdown:hover {
            .dropdown-menu {
                background: none !important;
                border: none;
                max-height: 600px;
                opacity: 1;
                margin-top: 0px;
                li:hover {
                    background-color: #8b868655;
                }
            }
        }
    }
}