body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(248, 230, 196);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body #notebook {
  width: 604px;
  height: 404px;
  display: flex;
  margin: 0 auto;
  background-image: url(img/fon.png);
}
body #notebook .leftBox,
body #notebook .rightBox {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
body #notebook .leftBox h3,
body #notebook .rightBox h3 {
  color: #c39967;
  font-style: italic;
  text-align: center;
}
body #notebook .leftBox #list,
body #notebook .rightBox #list {
  width: 80%;
  list-style-image: url(img/2.png);
}
body #notebook .leftBox #list li,
body #notebook .rightBox #list li {
  width: 100%;
}
body #notebook .leftBox #list li .list_note,
body #notebook .rightBox #list li .list_note {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #notebook .leftBox #list li .list_note p,
body #notebook .rightBox #list li .list_note p {
  color: #c39967;
  font-style: italic;
}
body #notebook .leftBox #list li .list_note img,
body #notebook .rightBox #list li .list_note img {
  width: 10%;
  height: 10%;
  float: right;
}
body #notebook .leftBox .note,
body #notebook .rightBox .note {
  width: 150px;
  border: none;
  color: #c39967;
  font-style: italic;
  border-bottom: 1px solid #c39967;
  background: none;
}
body #notebook .leftBox .note:focus,
body #notebook .rightBox .note:focus {
  outline: none;
  border-bottom: 2px solid #c39967;
  background: none;
}
body #notebook .leftBox .add,
body #notebook .rightBox .add {
  width: 80px;
  height: 20px;
  margin-top: 10px;
  color: #c39967;
  font-style: italic;
  background-color: #f5ebe1;
  border: 1px solid #c39967;
}
body #notebook .leftBox:focus,
body #notebook .rightBox:focus {
  outline: none;
}
body .err1,
body .err2 {
  width: 60vw;
  height: 20vh;
  display: none;
  position: absolute;
  border: 3px solid red;
  border-radius: 5px;
  background-color: rgba(235, 132, 132, 0.774);
}
body .err1 p,
body .err2 p {
  text-align: center;
  font-size: 18px;
}
body .err1 .close,
body .err2 .close {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-left: 280px;
  cursor: pointer;
}
body .err1.active,
body .err2.active {
  display: flex;
  justify-content: center;
  align-items: center;
}