extends command/layout 

block main 

    main
      // ---------------------conteiner_1-------------------------------
      section.conteiner_1
        h1.conteiner_title How Dreamshare works?
        |             
        .dreamshare_work_img
          .image_step.step1
            .text_step
              a.montserrat(href=' ') STEP 1
              |                         
              p.montserrat Sed leo enim, condimentum
              |                         
              p.roboto
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
          |                 
          .image_step.step2
            .text_step
              a.montserrat(href=' ') STEP 2
              |                         
              p.montserrat Morbi velit risus
              |                         
              p.roboto
                | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
          |                 
          .image_step.step3
            .text_step
              a.montserrat(href=' ') STEP 3
              |                         
              p.montserrat Sed leo enim, condimentum
              |                         
              p.roboto
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      // ---------------------conteiner_2-------------------------------
      section.conteiner_2
        h1.conteiner_title Meet a partner for your best holiday
        |             
        .partner_block
          .partner
            .partner_img(style='background-image: url(img/PFrtnrt/Photo.png); ')
            |                     
            .partner_name.montserrat
              p Bradley Hunter
            |                     
            .partner_profession.roboto
              p
                | Based in Chicago. I love playing tennis and loud music.
          |                 
          .partner
            .partner_img(style='background-image: url(img/PFrtnrt/Bitmap.png); ')
            |                     
            .partner_name.montserrat
              p Marie Bennett
            |                     
            .partner_profession.roboto
              p Currently living in Colorado. Lover of art, languages and travelling.
          |                 
          .partner
            .partner_img(style='background-image: url(img/PFrtnrt/Bitmap2.png); ')
            |                     
            .partner_name.montserrat
              p Diana Wells
            |                     
            .partner_profession.roboto
              p
                | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
          |                 
          .partner
            .partner_img(style='background-image: url(img/PFrtnrt/Bitmap3.png); ')
            |                     
            .partner_name.montserrat
              p Christopher Pierce
            |                     
            .partner_profession.roboto
              p Star Wars fanatic. I have a persistent enthusiasm to create new things.
        |             
        a.partner_bitton.montserrat(href=' ') See other partners
      // ---------------------conteiner_3-------------------------------
      section.conteiner_3
        h1.conteiner_title Discover holiday activity ideas
        |             
        .holiday_ideas
          .foto_block
            .holiday_ideas_img.montserrat.foto1
              p Sports and Activis
            |                     
            .holiday_ideas_img.montserrat.foto2
              p Wellness and Health
            |                     
            .holiday_ideas_img.montserrat.foto3
              p Extreme Sports and Expeditions
          |                 
          .foto_block
            .holiday_ideas_img.montserrat.foto1
              p Games
            |                     
            .holiday_ideas_bigimg.montserrat.foto2
              p Culture and Education
          |                 
          .foto_block
            .holiday_ideas_bigimg.montserrat.foto1
              p Enjomet and Relaxation
            |                     
            .holiday_ideas_img.montserrat.foto2
              p Trevelling
      // ---------------------conteiner_4-------------------------------
      section.conteiner_4
        h1.conteiner_title Crate your holiday activity
        |             
        .holiday_activity
          .holiday_ask.roboto
            p Hi! What are your holiday interests?
          |                 
          .holiday_forn
            input(type='text ', name=' ', id=' ', placeholder='Enter your insterests ')
            |                     
            a.form_button.montserrat(href=' ') Search partners
