.userBox {
    width: 90%;
    margin: 0 auto;
}

/*----------------------Лівий бокс-----------------*/

.leftbox {
    float: left;
    width: 450px;
    height: 300px;
    padding: 10px;
}

.inp {
    width: 400px;
    height: 30px;
    outline: none;
    border: 0.5px solid rgb(88, 85, 85);
    border-radius: 5px;
    color: black;
    font-size: 20px;
}

.add, .edd {
    width: 70px;
    height: 30px;
    background: none;
    outline: none;
    border-radius: 5px;
    color: green;
    border: 0.5px solid green;
}
.edd{
    display: none;
}

::-webkit-input-placeholder {
    color: rgba(211, 190, 190, 0.822);
    font-size: 12px;
}

/*--------------------Правий бокс---------------  */

.rigthBox {
   padding: 20px;
}

table {
    border-spacing: 0px;
}

th {
    text-align: center;
    width: 15%;
    height: 40px;
    border-top: 1px solid rgba(209, 42, 42, 0.637);
    border-bottom: 1px solid rgba(77, 73, 73, 0.938);
}

td {
    text-align: center;
    width: 15%;
    height: 40px;
    border-bottom: 1px solid rgba(77, 73, 73, 0.938);
}

.edit, .dell {
     height: 30px;
    outline: none;
    border: 0.5px solid gray;
    border-radius: 3px;
}
.edit{
    background-color: orange;
}
.dell{
    background-color: red;
}

.butBox{
    border: 1px solid navy;
}
