    .slider {
        display: flex;
        position: relative;
        width: 1440px;
        height: 570px;
        color: white;
        margin: auto;
        margin-bottom: 59px;
    }
    
    .slider_img {
        width: 720px;
        height: 570px;
        z-index: -2;
        background-image: url(../img/philip-martin.jpg);
        background-size: cover;
    }
    
    .text_area_1 {
        width: 502px;
        padding: 110px 110px 151px 108px;
        background-color: black;
    }
    
    .ta_1_1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 75px;
    }
    
    .ta_1_1 a {
        font-size: 16px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: -0.05px;
        text-decoration-line: underline;
        color: white;
    }
    
    .ta_1_2 {
        height: 106px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .ta_1_2 .big_text {
        font-weight: 500;
        font-size: 28px;
        letter-spacing: -0.08px;
    }
    
    .ta_1_2 .smal_text {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.202px;
    }
    
    .text_area_1>a {
        display: block;
        width: 150px;
        text-decoration: none;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        padding: 20px 22px;
        border: 1px solid white;
        color: white;
        margin-top: 53px;
    }
    /*-----------------------------adaptive--------------------------*/
    /*-----------------------------1500--------------------------*/
    
    @media screen and (max-width: 1500px) {
        .slider {
            width: 1240px;
            height: 570px;
        }
        .slider_img {
            width: 620px;
        }
        .text_area_1 {
            width: 407px;
            padding: 128px 109px 124px 104px;
        }
    }
    /*-----------------------------1300--------------------------*/
    
    @media screen and (max-width: 1300px) {
        .slider {
            width: 768px;
            height: 354px;
            margin-bottom: 60px;
        }
        .slider_img {
            width: 384px;
            height: 354px;
        }
        .text_area_1 {
            width: 384px;
            height: 210px;
            padding: 72px 18px 72px 21px;
        }
        .slider>div.text_area_1>div.ta_1_1>a {
            display: none;
        }
        .slider>div.text_area_1>div.ta_1_1>p {
            font-size: 12px;
        }
        .ta_1_2 .big_text {
            font-size: 18px;
        }
        .ta_1_2 .smal_text {
            font-size: 12px;
        }
        .ta_1_1 {
            margin-bottom: 20px;
        }
        .text_area_1>a {
            padding: 15px 22px;
            margin-top: 31px
        }
    }
    /*-----------------------------830--------------------------*/
    
    @media screen and (max-width: 830px) {
        .slider {
            flex-direction: column;
            width: 320px;
            height: 540px;
            margin-bottom: 43px;
        }
        .slider_img {
            width: 320px;
            height: 294px;
        }
        .text_area_1 {
            width: 295px;
            height: 199px;
            padding: 15px 13px 32px 12px;
        }
        .slider>div.text_area_1>div.ta_1_1>a {
            display: none;
        }
        .slider>div.text_area_1>div.ta_1_1>p {
            font-size: 12px;
        }
        .ta_1_2 .big_text {
            font-size: 18px;
        }
        .ta_1_2 .smal_text {
            font-size: 12px;
        }
        .ta_1_1 {
            margin-bottom: 20px;
        }
        .text_area_1>a {
            padding: 15px 22px;
            margin-top: 20px;
        }
    }